
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0bdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* direction: rtl; */
}

.container {
    background-color:antiquewhite;
    width: 900px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-frame {
    position: relative;
    width: 300px;
    height: 300px;
}

.photo1 {
    position: absolute;
    top: -20px;
    left: 30px;
    width: 50%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: rotate(-5deg);
}

.photo2 {
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 50%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: rotate(5deg);
}

.register {
    flex: 1;
    padding: 40px;
}

h2 {
    color: #e88e8e;
    margin-bottom: 20px;
    text-align: center;
}

.input {
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    width: 100%;
}

.input:focus {
    border-color: #e88e8e;
    box-shadow: 0 0 5px rgba(232, 142, 142, 0.5);
}

/* زر التسجيل */
button {
    background-color: #e88e8e;
    border: none;
    padding:12px 30px;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d77d7d;
}

a {
    color: #e88e8e;
    text-decoration: none;
}
p {
    text-align: center;

}

a:hover {
    text-decoration: underline;
}

.alert , .er{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    width: 100%;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger ,.er {
    background-color: #f0bdbd;
}

@media screen and (max-width:700px) {
    .photo-frame {
        display: none;
    }
    
    .photo1, .photo2 {
        display: none;
    }
}